{% extends "base.html" %}
{% load static %}

{% block title %}Area Riservata Personale{% endblock %}

{% block content %}
<br/>
<div class="clinic-logo-text d-flex justify-content-between align-items-center">
    <a href="{% url 'area_riservata_personale' %}" class="text-decoration-none text-reset">⭠ Indietro</a>
    <a href="{% url 'logout_personale' %}" class="btn btn-custom mx-2">Logout</a>
</div>

<div class='row justify-content-center'>
    <div class="col-md-6 text-center">
        <p class="fs-4"> BENVENUTO/A {{ personale.nome }} {{ personale.cognome }}</p>
    </div>
</div>

<br/>
<div class="row justify-content-center g-4">
    <div class="col-12 col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="card-title">Cartella clinica</h3>
                <p class="card-text">Clicca per consultare le cartelle cliniche dei pazienti</p>
                <a href="{% url 'lista_cartelle_personale' %}" class="btn btn-custom mx-2">Apri</a>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="card-title">Eventi</h3>
                <p class="card-text">Clicca per iscriverti a un evento</p>
                <a  href="{% url 'visualizza_eventi_personale' %}" class="btn btn-custom mx-2">Visualizza Eventi</a>


            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="card-title">Appuntamenti</h3>
                <p class="card-text">Clicca per consultare i tuoi appuntamenti</p>
                <a href="{% url 'visualizza_prenotazioni_personale' %}" class="btn btn-custom mx-2">Apri</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}


