@ -0,0 +1,45 @@
{% extends "base.html" %}

{% block title %}Recensioni Utenti{% endblock %}

{% block content %}
<br/>
<div class="clinic-logo-text d-flex justify-content-between align-items-center">
    <a href="{% url 'pagina_iniziale' %}" class="text-decoration-none text-reset">⭠ Indietro</a>
</div>

    <h1 class="text-center mb-4">Recensioni dei Pazienti</h1>
<div class="row justify-content-center">
    <div class="col-md-6">

            <div class="card-body">
            {% if recensioni %}
                <div class="list-group">
                    {% for recensione in recensioni %}
                        <div class="list-group-item mb-3 shadow-sm">
                            <h5 class="mb-1">{{ recensione.trattamento.nome }}</h5>
                            <p class="mb-1">{{ recensione.testo|linebreaksbr }}</p>
                            <small>
                              Valutazione:
                              {% for i in "12345" %}
                                {% if forloop.counter <= recensione.valutazione %}
                                  <span class="text-warning">&#9733;</span>
                                {% else %}
                                  <span class="text-muted">&#9733;</span>
                                {% endif %}
                              {% endfor %}
                              <br>
                              <em>di {{ recensione.paziente.nome }} {{ recensione.paziente.cognome }}</em>
                            </small>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Nessuna recensione disponibile al momento.</p>
            {% endif %}
            </div>
        </div>
 </div>


{% endblock %}