{% extends "base.html" %}
{% load static %}

{% block title %}Lista Trattamenti {% endblock %}

{% block content %}
<br/>
<div class="clinic-logo-text d-flex justify-content-between align-items-center">
    <a href="{% url 'pagina_iniziale' %}" class="text-decoration-none text-reset">⭠ Indietro</a>
</div>


<div class="container my-5">
    <h2 class="text-center mb-4">Lista Trattamenti</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <table class="table text-center">
                <thead>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Costo</th>
                            <th>Note</th>
                        </tr>
                    </thead>
                </thead>
                {% for t in trattamenti %}
                <tr>
                    <td>{{ t.nome }}</td>
                    <td>{{ t.tipo }}</td>
                    <td>{{ t.costo }} €</td>
                    <td>{{ t.note|default:"-" }}</td>

                </tr>
                {% empty %}
                <tr><td colspan="5">Nessun trattamento trovato</td></tr>
                {% endfor %}
            </table>

        </div>
    </div>
</div>
<h5 class="text-center my-4">Per prenotare un trattamento presso la clinica accedi alla tua Area Personale</h5>
        <div class="text-center mb-5">
            <a href="{% url 'login_paziente' %}" class="btn btn-custom mx-2">Accedi</a>
        </div>
{% endblock %}



